.friendsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: lighter;
    font-size: 12px;
    padding-top: 10px;
    margin: 0;
    text-align: center;

}

.friendsName {

}

.friendsName img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

p {
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px;
}